html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  font-size: 1.1rem;
  margin-top: 0.2rem;
  line-height: 2rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: #000;
}

.section_title {
  font-size: 4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.section_title span {
  color: crimson;
}

.cta {
  display: inline-block;
  padding: 0.7rem 1.5rem;
  color: #fff;
  background: transparent;
  border: 2px solid crimson;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: .2rem;
  font-family: 'Roboto', sans-serif;
}

.cta:hover {
  background: crimson;
}

.icon {
  margin: 0 auto;
  margin-bottom: 0.6rem;
  font-size: 2rem;
}

.brand h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #fff;
}

.brand h1 span {
  color: crimson;
}

#header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
}

#header .brand h1 {
  font-size: 1.7rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-left: 1rem;
  line-height: 2rem;
}

@media only screen and (min-width: 768px) {
  #header .brand h1 {
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  #header .brand h1 {
    font-size: 1.9rem;
  }
}

#header .header {
  min-height: 10vh;
  background: rgba(32, 30, 30, 0.24);
  -webkit-transition: 0.3s ease background-color;
  transition: 0.3s ease background-color;
}

#header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0.7em 0;
}

@media only screen and (min-width: 1200px) {
  #header .nav-bar {
    padding: 1.5rem 0;
  }
}

#header .nav-bar .nav-list ul {
  list-style: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #201e1e;
  -webkit-transition: 0.5s ease left;
  transition: 0.5s ease left;
}

@media only screen and (min-width: 1200px) {
  #header .nav-bar .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: transparent;
    margin-right: 5rem;
  }
}

#header .nav-bar .nav-list ul.active {
  left: 0;
}

#header .nav-bar .nav-list ul a {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem;
}

@media only screen and (min-width: 1200px) {
  #header .nav-bar .nav-list ul a {
    font-size: 1rem;
  }
}

#header .nav-bar .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 6rem;
  letter-spacing: 2rem;
  z-index: -1;
  -webkit-transition: 0.3s ease letter-spacing;
  transition: 0.3s ease letter-spacing;
}

@media only screen and (min-width: 1200px) {
  #header .nav-bar .nav-list ul a::after {
    display: none;
  }
}

#header .nav-bar .nav-list ul li:hover a::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .nav-bar .nav-list ul li:hover a {
  color: crimson;
}

@media only screen and (min-width: 1200px) {
  #header .nav-bar .nav-list ul li {
    display: inline-block;
  }
}

#header .hamburger {
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }
}

#header .hamburger::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-animation: hamburger_pulse 1s ease infinite;
          animation: hamburger_pulse 1s ease infinite;
}

#header .hamburger.active .bar::before {
  bottom: 0;
}

#header .hamburger.active .bar::after {
  top: 0;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background: #fff;
}

#header .hamburger .bar::before, #header .hamburger .bar::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

@-webkit-keyframes hamburger_pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes hamburger_pulse {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

#hero {
  background-image: url(/img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 100vh;
  z-index: 1;
}

@media only screen and (min-width: 1200px) {
  #hero {
    padding: 0;
  }
}

#hero .hero {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1200px) {
  #hero .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#hero .hero section {
  margin-left: -1rem;
}

@media only screen and (min-width: 768px) {
  #hero .hero section {
    margin-left: 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  #hero .hero section {
    text-align: center;
  }
}

#hero .hero section h1 {
  font-weight: 500;
  margin-left: 0;
}

@media only screen and (min-width: 768px) {
  #hero .hero section h1 {
    margin-left: 0rem;
    line-height: 5rem;
  }
}

@media only screen and (min-width: 1200px) {
  #hero .hero section h1 {
    font-size: 4.5rem;
    font-weight: 700;
    display: inline-block;
    margin-left: 0;
  }
  #hero .hero section h1:nth-child(2) {
    margin-left: 1rem;
    text-transform: lowercase;
  }
  #hero .hero section h1:nth-child(3) {
    margin-left: 1rem;
  }
}

#hero .hero section .job_title {
  font-family: 'Roboto', sans-serif;
  color: #d4d4d4;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 300;
  line-height: 2rem;
  margin: 0.2rem 0 0 0.2rem;
  letter-spacing: 0.1rem;
}

@media only screen and (min-width: 768px) {
  #hero .hero section .job_title {
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
  }
}

@media only screen and (min-width: 1200px) {
  #hero .hero section .job_title {
    letter-spacing: 0.4rem;
    color: #e9e9e9;
    margin: 1rem 0;
  }
}

#hero .hero .cta {
  margin: 0.5rem 0 0 0.2rem;
  color: #d4d4d4;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  #hero .hero .cta {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  #hero .hero .cta {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding: .8rem 1.7rem;
    text-transform: uppercase;
    color: #f1f1f1;
  }
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

#hero h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
  position: relative;
  color: transparent;
  -webkit-animation: text_reveal 0.5s ease forwards;
          animation: text_reveal 0.5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@media screen and (min-width: 768px) {
  #hero h1 {
    font-size: 5rem;
    margin-left: 2rem;
  }
}

#hero h1 span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: crimson;
  -webkit-animation: text_reveal_box 1s ease-in-out;
          animation: text_reveal_box 1s ease-in-out;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#hero h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1:nth-child(1) span {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#hero h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#hero h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#hero h1:nth-child(3) {
  -webkit-animation: name_reveal ease forwards;
          animation: name_reveal ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#hero h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: #fff;
  }
}

@keyframes text_reveal {
  100% {
    color: #fff;
  }
}

@-webkit-keyframes name_reveal {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

@keyframes name_reveal {
  100% {
    color: crimson;
    font-weight: 500;
  }
}

#about .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  margin: 1200px;
  margin: 0 auto;
  padding: 6.25rem -1.25rem;
  padding-bottom: 3rem;
  background: #ccc;
}

@media screen and (min-width: 768px) {
  #about .about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#about .about .image_section {
  width: 250px;
  height: 360px;
}

@media screen and (min-width: 768px) {
  #about .about .image_section {
    width: 600px;
    height: 400px;
    padding-left: 3.7rem;
  }
}

#about .about .image_section .image_wrapper {
  position: relative;
  border: 10px solid #fff;
  height: 100%;
  width: 100%;
}

#about .about .image_section .image_wrapper::after {
  content: '';
  position: absolute;
  left: -33px;
  top: 19px;
  height: 98%;
  width: 98%;
  border: 7px solid crimson;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  #about .about .image_section .image_wrapper::after {
    left: -45px;
    top: 24px;
    width: 98%;
    height: 98%;
    border: 10px solid crimson;
  }
}

#about .about .about_info {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #about .about .about_info {
    text-align: left;
    padding: 1.9rem;
    background-color: cyan;
  }
}

#about .about .about_info h2 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 0.6rem;
}

#about .about .about_info p {
  margin-bottom: 1.25rem;
}

#about .about .about_info .cta {
  color: #000;
  margin-bottom: 3rem;
  padding: 0.6rem 1.25rem;
  font-size: 2rem;
}

#services .services {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 5rem 0;
  background: #ccc;
}

#services .service_items_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2.5rem;
  padding: 2rem;
}

#services .service_items_container .service_item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.8rem;
  border-radius: 0.8rem;
  background-image: url(../img/img-1.png);
  background-size: cover;
  margin: 0.7rem 5%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  #services .service_items_container .service_item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 1rem;
  }
}

@media only screen and (min-width: 1200px) {
  #services .service_items_container .service_item {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    margin: 1.5%;
    height: 70%;
  }
}

#services .service_items_container .service_item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
  z-index: -1;
}

#services .service_items_container .service_item .icon_container .icon {
  color: crimson;
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

#services .service_items_container .service_item h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0.7rem;
  text-transform: uppercase;
}

#services .service_items_container .service_item p {
  color: #fff;
  text-align: left;
}

#projects .projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 6.25rem 0;
  background: #e7e5e5;
}

#projects .projects .projects_header h1 {
  margin-bottom: 3rem;
}

#projects .projects .all_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .projects .all_projects .project_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 1.25rem auto;
  overflow: hidden;
  border-radius: 0.6rem;
}

@media screen and (min-width: 768px) {
  #projects .projects .all_projects .project_item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #projects .projects .all_projects .project_item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

#projects .projects .all_projects .project_item:hover .project_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#projects .projects .project_info {
  padding: 1.9rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}

@media screen and (min-width: 768px) {
  #projects .projects .project_info {
    height: 100%;
  }
}

#projects .projects .project_info h1 {
  font-size: 4rem;
  font-weight: 500;
}

#projects .projects .project_info h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 0.6rem;
}

#projects .projects .project_info p {
  color: #fff;
}

#projects .projects .project_img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 768px) {
  #projects .projects .project_img {
    height: 100%;
  }
}

#projects .projects .project_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.7;
}

#projects .projects .project_img img {
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

#contact .contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e7e5e5;
}

#contact .contact .contact_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1.25rem;
}

@media screen and (min-width: 768px) {
  #contact .contact .contact_items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#contact .contact .contact_items .contact_item {
  width: 80%;
  padding: 1.25rem;
  text-align: center;
  border-radius: 0.6rem;
  padding: 1.9rem;
  margin: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 0px 18px 0px #0000002c;
          box-shadow: 0px 0px 18px 0px #0000002c;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

@media screen and (min-width: 768px) {
  #contact .contact .contact_items .contact_item {
    width: 30%;
  }
}

#contact .contact .contact_items .contact_item:hover {
  -webkit-box-shadow: 0px 0px 5px 0px #0000002c;
          box-shadow: 0px 0px 5px 0px #0000002c;
}

#contact .contact .contact_items .contact_item h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
}

#contact .contact .contact_items .contact_item h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}

#footer {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  padding-top: 2rem;
  padding-bottom: 0.6rem;
  text-align: center;
}

#footer .footer h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin: 0.6rem 0;
}

#footer .footer .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
}

#footer .footer .social_icons .icon {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: -webkit-filter .3s ease;
  transition: -webkit-filter .3s ease;
  transition: filter .3s ease;
  transition: filter .3s ease, -webkit-filter .3s ease;
}

#footer .footer .social_icons .icon:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

#footer .footer p {
  color: #fff;
  font-size: 1.3rem;
}
