#about {
  .about {
    @include flexCenter(column-reverse);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3.2rem 1rem;
    //background: #ccc;
    background: #fff;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media screen and (min-width: 1200px) {
      padding: 6rem 0rem;
    }

    .section_title {
      margin: 0;
      // color: crimson;
    }

    .title {
      font-family: $font-family;
      font-size: 1.125rem;
      font-weight: 400;
      color: crimson;
      text-align: left;
      line-height: 1.8rem;
      margin-top: 1.3rem;
      padding: 1rem;
      background-color: #000000e6;
      //background-color: #29323c;
    }

    .image__wrapper {
      position: relative;
      margin: 1rem;
      margin-top: 2rem;
      z-index: 1;

      .about__image {
        border: 10px solid lightgray;
        height: 350px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 20px;
        left: -30px;
        height: 98%;
        width: 98%;
        border: 8px solid crimson;
        z-index: -10;
      }
    }

    .about__right {
      width: 100%;
      @include flexCenter(column);
      margin-top: 1rem;

      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: .5rem;
        width: 50%;
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }

      .info {
        margin: 1.5rem 0;
      }

      .about_btns_container {
        @media screen and (min-width: 1200px) {
          width: 100%;
          @include flexCenter(row);
          justify-content: flex-start;
        }
      }

      //* about call to action
      .cta {
        @include flexCenter(row);
        // width: 90%;

        @media screen and (min-width: 1200px) {
          // width: 300px;
          margin: 1rem;
          margin-left: 0;
          padding: 0.5rem 2rem;
        }

        &:hover {
          color: #fff;
        }

        .icon {
          margin: 0 0.3rem 0 0;
        }

        .linked-in {
          color: #212121;
        }
        .github {
          color: #212121;
        }

        p {
          color: #212121;
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}
