#about {
  .about {
    @include flexCenter(column-reverse);
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3.2rem 1rem;
    //background: #ccc;
    background: #fff;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      //align-items: flex-start;
    }

    @media screen and (min-width: 1200px) {
      padding: 1rem 0rem;
    }

    .section_title {
      margin: 0;
      // color: crimson;
    }

    .title {
      font-family: $font-family;
      font-size: 1.125rem;
      font-weight: 400;
      color: crimson;
      text-align: left;
      line-height: 1.8rem;
      margin-top: 1.3rem;
      padding: 1rem;
      background-color: #000000e6;
      //background-color: #29323c;
    }

    .image__wrapper {
      position: relative;
      margin: 1rem;
      margin-top: 2rem;
      z-index: 1;
      height: 350px;

      .about__image {
        border: 9px solid lightgray;
        width: 220px;
        height: 320px;

        @media screen and (min-width: 1200px) {
          height: 350px;
          width: 230px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 20px;
        left: -30px;
        height: 88%;
        width: 98%;
        border: 8px solid crimson;
        z-index: -10;

        @media screen and (min-width: 1200px) {
          height: 97%;
        }
      }
    }

    .about__right {
      width: 100%;
      @include flexCenter(column);
      margin-top: 1rem;

      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        width: 50%;
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: 0.5rem;
      }

      p.info {
        font-size: 1.1rem;
        font-weight: 100;
        margin: 1.5rem 0;
      }

      //.about_btns_container {
      //  @media screen and (min-width: 1200px) {
      //    width: 100%;
      //    @include flexCenter(row);
      //    justify-content: flex-start;
      //  }
      //}

      //* about call to action
      .cta {
        @include flexCenter(row);
        border: 2px solid crimson;
        color: crimson;
        //box-shadow: 0px 0px 18px 0px #0000002c;


        &:hover {
          //color: #fff;
          background: transparent;
        }

        @media screen and (min-width: 1200px) {
          margin: 1rem;
          margin-left: 0;
          padding: 0.5rem 2rem;
        }

        .icon {
          margin: 0 0.3rem 0 0;
        }

        .linked-in {
          color: crimson;
        }
        p {
          color: crimson;
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}
