.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  background: #011826;
  padding: 2rem 10rem;

  h1{
    font-size: 3rem;
    color: #fafafa;
  }

  p.info{
    font-size: 1.125rem;
    color: #0A89A6;
  }

  .download-resume{
    background: #13F2F2;
    color: #011826;
    font-weight: 400;
    font-size: 1.125rem;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: .9rem 1.3rem;
  }

  .image-container{
    height: 500px;
    width: 400px;
    border-radius:66% 34% 11% 89% / 44% 49% 51% 56%  ;
    overflow: hidden;
    background-color: #13F2F2;

    img{
      margin-top: 4rem;
      transform: scale(1.1);
    }
  }
}
