#hero {
  background-image: url(/img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  height: 100vh;
  z-index: 1;

  @media only screen and (min-width: 1200px) {
    padding: 0;
  }

  .hero {
    min-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;

    //* hero section overlay

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: -1;
    }

    @media only screen and (min-width: 1200px) {
      @include flexCenter(row);
    }

    //* greeting
    h1 {
      font-family: 'Roboto', sans-serif;
      display: block;
      width: fit-content;
      font-size: 2.5rem;
      position: relative;
      color: transparent;
      animation: text_reveal 0.5s ease forwards;
      animation-delay: 1s;
      line-height: 3.2rem;

      @media screen and (min-width: 768px) {
        font-size: 4rem;
        font-weight: 400;
        line-height: 4.3rem;
      }

      span {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        background: crimson;
        animation: text_reveal_box 1s ease-in-out;
        animation-delay: 0.3s;
      }

      //* Make the animation sequential
      &:nth-child(1) {
        animation-delay: 1s;

        span {
          animation-delay: 0.5s;
        }
      }
      &:nth-child(2) {
        animation-delay: 2s;

        span {
          animation-delay: 1.5s;
        }
      }
      &:nth-child(3) {
        animation: name_reveal ease forwards;
        animation-delay: 3s;

        span {
          animation-delay: 2.5s;
        }
      }
    }
    //* end greeting

    //* sub-heading
    .sub-heading {
      font-family: 'Roboto', sans-serif;
      color: #d8d8d8;
      font-size: 1.3rem;
      font-weight: 300;
      line-height: 2rem;
      margin: 0.2rem 0 0 0.2rem;
      letter-spacing: 0.01rem;
      width: 70%;

      @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
        width: 100%;
      }

      @media only screen and (min-width: 1200px) {
        letter-spacing: 0.05rem;
        color: #e9e9e9;
        margin: 1rem 0;
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    //* end sub-heading

    //* heading container
    section {
      margin-left: -1rem;

      @media only screen and (min-width: 768px) {
        margin-left: 0rem;
      }

      @media only screen and (min-width: 1200px) {
        text-align: center;
      }
      // For more information about this animation, check out the youtube tutorial
    }
  }

  // * call to action

  .cta {
    margin: 1rem 0 0 0.2rem;
    color: rgb(212, 212, 212);
    font-size: 1.2rem;
    font-weight: 500;

    @media screen and (min-width: 768px) {
      font-size: 1.3rem;
    }

    @media screen and (min-width: 1200px) {
      
    }
  }
}

//* text reveal box
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

//* text reveal
@keyframes text_reveal {
  100% {
    color: #d8d8d8;
  }
}

//* name reveal
@keyframes name_reveal {
  100% {
    color: crimson;
    font-weight: 300;
  }
}
