//
#projects {
  .projects {
    flex-direction: column;
    //max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0; // 100px 0
    background: #e7e5e5;
    background: #f2f1df;

    @media screen and (min-width: 768px) {
    }

    @media screen and (min-width: 1200px) {
      padding: 6rem 0;
    }

    .all_projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .placeholder {
        @include flexCenter(column);
      }

      .project_item {
        @include flexCenter(column);
        flex: 1;
        width: 90%;
        margin: 1.25rem auto; // 20px auto
        border-radius: 0.6rem;
        overflow: hidden;

        @media screen and (min-width: 768px) {
          height: 400px;
          margin: 0;
          width: 100%;
          border-radius: 0;
          flex-direction: row;

          &:nth-child(even) {
            flex-direction: row-reverse;
          }
        }

        .project_img img {
          display: inline-block;
          object-fit: cover;
        }

        &:hover .project_img img {
          transform: scale(1.1);
        }
      }
    }

    .githubProfile__button {
      @include flexCenter(row);
      justify-content: space-between;
      align-items: center;
      //width: 220px;

      @media screen and (min-width: 1200px) {
        padding: .5rem 2rem;

        &:hover {
          background-color: crimson;
        }

        &:hover span {
          color: #fff;
        }
      }

      .icon {
        margin: 0 0.3rem;
      }
    }

    .project_info {
      padding: 1rem;
      //   flex-basis: 50%;
      background: linear-gradient(60deg, #29323c 0%, #485563 100%);
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      color: #fff;

      @media screen and (min-width: 768px) {
        height: 100%;
      }

      h2 {
        font-size: 1rem;
        font-weight: 500;
      }

      p.sub_heading {
        font-size: 2rem;
        font-weight: 300;
        margin-top: 0.6rem;
        color: crimson;
      }

      p.project_about {
        color: #fff;
      }
    }

    // project item image
    .project_img {
      flex-basis: 50%;
      //   height: 300px;
      overflow: hidden;
      position: relative;

      @media screen and (min-width: 768px) {
        height: 100%;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(60deg, #29323c 0%, #485563 100%);
        opacity: 0.7;
      }

      img {
        transition: transform 0.3s ease-in;
      }
    }
  }
}
