#projects {
  padding: 5rem 10rem;
  background: $backgroundColor;

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .projects-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .project-item {
      flex-basis: 22%;
    }
  }

  .swiper {
    width: 100%;
    height: 70%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #ccc;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
