#services {
  max-width: 1500px;
  .services {
    flex-direction: column;
    margin: 0 auto;
    padding: 3.2rem 0;
    background-color: #fff;
    //background: linear-gradient(60deg, #29323c 0%, #485563 100%);

    @media screen and (min-width: 1200px) {
      padding: 6rem 0;
      margin: 0;
    }

    .services_header {
      @include flexCenter(column);
      // margin-bottom: 1rem;
      max-width: 65ch;
      width: 80%;

      h2 {
        color: #212121;
      }

      p {
        text-align: center;
      }
    }

    .cta {
      font-weight: 500;

      @media screen and (min-width: 1200px) {
        padding: 0.8rem 2.5rem;
        margin-top: 1.5rem;
      }

      &:hover{
        color: #fafafa;
        border: 2px solid #fafafa;
      }
    }
  }

  .service_items_container {
    @include flexCenter(row);
    flex-wrap: wrap;
    // margin-top: 1rem;
    padding: 1rem 0;

    .service_item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      border-radius: 10px;
      background-image: url(../img/img-1.png);
      background-size: cover;
      margin: 10px 5%;
      position: relative;
      z-index: 1;
      overflow: hidden;

      @media only screen and (min-width: 768px) {
        flex-basis: 45%;
        margin: 1rem;
      }

      @media only screen and (min-width: 1200px) {
        justify-content: space-around;
        align-items: flex-start;
        height: 350px;
        flex-basis: 20%;
        margin: 0 1rem;
        padding: 2.5rem 1.5rem;
      }

      // service item overlay
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(
          60deg,
          #29323c 0%,
          #485563 100%
        );
        opacity: 0.9;
        z-index: -1;
      }

      //* service item h3

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: crimson;
        margin-bottom: 0.7rem;

        @media only screen and (min-width: 1200px) {
          //text-align: left;
        }
      }

      p {
        color: #fff;
        font-size: 1rem;
        text-align: center;
        font-family: $font-family;
        line-height: 30px;
        font-weight: 100;

        @media only screen and (min-width: 1200px) {
          text-align: left;
        }
      }
    }
  }
}

//* service item overlay

// &::after {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   background: linear-gradient(
//     60deg,
//     #29323c 0%,
//     #485563 100%
//   );
//   opacity: 0.7;
//   z-index: -1;
// }

//.icon_container .icon {
//  color: crimson;
//  width: 50px;
//  height: 50px;
//  margin-bottom: 1rem;
//}
