#services {
  .services {
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto;
    padding: 3.2rem 0;
    background-color: #000000e6;

    .services_header {
      @include flexCenter(column);
      // margin-bottom: 1rem;
      width: 80%;

      h2 {
        color: white;
      }

      .line {
        height: 4px;
        width: 90px;
        background-color: #fff;
        background-color: crimson;
        margin-top: 1.5rem;
        align-self: center;
      }
    }

    .cta {
      color: #000000e6;
      font-weight: 500;
      @include flexCenter(row);
      background-color: crimson;

      &:hover {
        color: #fff;
      }
    }
  }

  .service_items_container {
    @include flexCenter(row);
    flex-wrap: wrap;
    // margin-top: 1rem;
    padding: 1rem 0;

    .service_item {
      @include flexCenter(column);
      height: auto;
      width: 80%;
      padding: 1rem 1rem;
      margin: 0.7rem 0;
      position: relative;
      overflow: hidden;
      z-index: 1;

      @media only screen and (min-width: 768px) {
        flex-basis: 45%;
        margin: 1rem;
      }

      @media only screen and (min-width: 1200px) {
        flex-basis: 22%;
        margin: 1.5%;
        height: 70%;
      }

      //* service item h2

      h3 {
        font-size: 1.5rem;
        font-weight: 500;
        color: crimson;
        margin-bottom: 0.7rem;
        text-transform: initial;
      }

      p {
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        font-family: $font-family;
        font-weight: 300;
        padding: 0 1rem;
      }
    }
  }
}

//* service item overlay

// &::after {
//   content: '';
//   position: absolute;
//   left: 0;
//   top: 0;
//   height: 100%;
//   width: 100%;
//   background: linear-gradient(
//     60deg,
//     #29323c 0%,
//     #485563 100%
//   );
//   opacity: 0.7;
//   z-index: -1;
// }

//.icon_container .icon {
//  color: crimson;
//  width: 50px;
//  height: 50px;
//  margin-bottom: 1rem;
//}
